{% extends "base.html" %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}}

{% block content %}
<head>
    <title>Start it now!</title>

    <h1>{{ title }}</h1>
    {{ instance.title }}</br>
    {{ instance.content }}</br>
    {{ instance.timestamp }}</br>
    {{ instance.updated }}</br>
    {{ instance.id }}</br>
    {% if instance.logo_image %}
        <img src='{{ instance.logo_image.url }}' class="img-responsive"/><br>
    {% endif %}
</head>
{% endblock content %}
